<form class="contenedor_form">
    <input class="contenedor_form_campo" id="nombre" type="text" placeholder="Introduce tu Nombre completo">
    <input class="contenedor_form_campo" id="email" type="email" placeholder="Email">
    <input class="contenedor_form_campo" id="destino" type="text" placeholder="Url">
    <input class="contenedor_form_campo" id="contrasenia" type="password" placeholder="Contraseña">
    <input class="contenedor_form_campo" id="contrasenia2" type="password" placeholder="Contraseña">
    <input class="contenedor_form_boton" type="button" value="ENVIAR">
    
</form>
