.contenido{
    min-height: calc(100vh - 50px);
    padding: 0 100px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px
}

.contenido_centrado{
    
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    color:var(--colorSecundarioHover)
}

.tarjeta{
    width: 250px;
    box-shadow: 5px 5px 15px var(--colorPrincipalHover);
    border-radius: 10px;
}

.tarjeta_imagen{
    width: 250px;
    
}

.tarjeta_imagen_img{
    max-width: 250px;
    border-radius: 10px 10px 0 0;
}
.tarjeta_datos{
    padding: 0 10px 10px 10px;
}


.tarjeta_datos,.tarjeta_datos_precio,.tarjeta_datos_boton{
    margin-top: 15px;
}

.tarjeta_datos_tipo{
    font-size: 0.8em;
    padding-left: 10px;
}

.tarjeta_datos_hr{
    border-top: 1px dashed var(--colorSecundario);
}

.tarjeta_datos_titulo,.tarjeta_datos_autorRef{
    margin-top: 10px;
    padding-left: 10px;
}

.tarjeta_datos_titulo_texto{
    font-size: 1.3em;
    color: var(--colorPrincipal);
    font-weight: 600;
}

.tarjeta_datos_autorRef_texto{
    padding-bottom: 5px;
}

.tarjeta_datos_precio{
    font-weight: 600;
    font-size: 1.7em;
    color: var(--colorPrincipal);
    text-align: center;
}

.tarjeta_datos_boton_btn{
    width: 100%;
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
    height: 40px;
    font-size: 1.2em;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.tarjeta_datos_boton_btn:hover{
    background-color: var(--colorSecundario);
    color: black;
}

.tarjeta_datos_boton_btn--par{
    width: 100%;
    background-color: var(--colorPrincipalHover);
    color: var(--colorSecundario);
    height: 40px;
    font-size: 1.2em;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.tarjeta_datos_boton_btn--par:hover{
    background-color: var(--colorSecundario);
    color: black;
}

.contenido_formulario{
    padding: 150px 0;
}

.contenedor_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contenedor_form_campo{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 12px 20px;
    box-shadow: 2px 4px 6px var(--colorPrincipal);
    width: 40vh;
    font-size: 1em;
}

.contenedor_form_boton{
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 12px 20px;
    background-color: var(--colorPrincipal);
    color:var(--blanco);
    font-size: 1.2em;
    border: 2px solid var(--colorPrincipalHover);
    box-shadow: 2px 4px 6px var(--colorPrincipalHover);
}