<div class="principal">
    <div class="contenedor">
        <div class = "contenedor_datos">
            <div class="contenedor_imagen">
                <img class="imagen__perfil" src="../../../assets/img/perfil.png">
            </div>
            <div class="nombre_completo">
                <h3 class="nombre_completo_texto"><fa-icon [icon]="faCoffee"></fa-icon>{{usuario.nombre}} {{usuario.apellidos}}</h3>
            </div>
            
            <div class="contenedor_nombre">
                
                <div class="contenedor_texto">
                    <h4 class="contenedor_nombre_texto">Nombre</h4>
                </div>
                <div class="contenedor_caja">
                    <h4 class="contenedor_input">{{usuario.nombre}}</h4>
                </div>
                
            </div>
            <div class="contenedor_apellido">
                <div class="contenedor_texto">
                    <h4 class="contenedor_texto">Apellido</h4>
                </div>
                <div class="contenedor_caja">
                    <h4 class="contenedor_input">{{usuario.apellidos}}</h4>
                </div>
            </div>
            <div class="contenedor_correo">
                <div class="contenedor_texto">
                    <h4 class="contenedor_texto">Correo</h4>
                </div>
                <div class="contenedor_caja">
                    <h4 class="contenedor_input">{{usuario.correo}}</h4>
                </div>
            </div>
        </div>
        <div class="barra"></div>
        <div class = "contenedor_datos">
            <div class="contenedor_datos_titulo">
                <h3 class="contenedor_datos_titulo_texto">
                    Editar datos
                </h3>
                <hr>
            </div>
            <div class="contenedor_datos_input">
                <input type="text" placeholder="Nombre" #nombre>
                <input type="text" placeholder="Apellidos" #apellido>
                <input type="text" placeholder="Correo" #correo>
                <input type="text" placeholder="Url" #url>
                <input type="text" placeholder="Password" #password>
                <button class="boton_modificar" (click)="recogerDatos(nombre.value,apellido.value,
                correo.value,url.value,password.value)">Modificar</button>
            </div>
            <div class={{toastClase}}>{{mensaje}}</div>
        </div>
    </div>
</div>