.header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--colorPrincipal);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100vw;
}

.header_logo_titulo{
    color: var(--colorSecundario);
    font-family: var(--fuentePrincipal);
    font-weight: 600;
    font-size: 1.8em;
    padding-left: 60px;
}

.header_menu{
    display: flex;
    justify-content: space-around;
    padding-right: 60px;
}

.header_menu_boton{
    color:var(--colorSecundario);
    text-decoration: none;
    padding-right: 20px;
    font-family: var(--fuentePrincipal);
    font-weight: 600;
    font-size: 1.4em;
}

.header_menu_boton:hover{
    color:var(--colorSecundarioHover);
}
